/A - BACK_END/.vs
/A - BACK_END/packages
/A - BACK_END/Cv_Management/bin
/A - BACK_END/Cv_Management/obj
/A - BACK_END/ApiClientShared/obj
/A - BACK_END/ApiClientShared/bin
/A - BACK_END/DbEntity/obj
/A - BACK_END/DbEntity/bin
/A - BACK_END/ApiClientShared/ApiClientShared.csproj.user
/A - BACK_END/Cv_Management/App_Asset
/A - BACK_END/Cv_Management/CvManagement.csproj.user
/A - BACK_END/CvManagement.sln.DotSettings.user
